body {
  font-family: "Open Sans",system-ui,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  overflow-x: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
